repos:
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.8.0
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3.7

- repo: https://github.com/life4/flakehell
  rev: v.0.8.0
  hooks:
  - id: flakehell

