[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
isort = "*"
numpy = "*"
progress = "*"
spectral = "*"
plotly = "*"
black = "==20.8b1"
flakehell = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-blind-except = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-eradicate = "*"
flake8-isort = "*"
flake8-mutable = "*"
flake8-pep3101 = "*"
pep8-naming = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
